.toggles {
    padding: 30px 0;
    display: flex;
    justify-content: center;
}

.toggle-switch {
    display: flex;
    padding: 10px 20px;
}

.toggle-switch input {
    display: none; 
}

.switch-button-back {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    width: 50px;
    height: 26px;
    background: grey;
    border-radius: 100px;
    position: relative;
    transition: background-color .2s;
}
  
.switch-button-back .switch-button {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 22px;
    height: 22px;
    border-radius: 45px;
    transition: 0.2s;
    background: #fff;
}

.switch-label {
    margin: 0 10px;
}
  
.toggle-switch input:checked + .switch-button-back .switch-button {
    left: calc(100% - 2px);
    transform: translateX(-100%);
}
