.app {
    padding: 20px;
    background-color: lightgrey;
}

.images-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    width: 550px;
    height: 366px;
    margin: 5px;
}

.images-source {
    margin-top: 20px;
    font-size: small;
}

.images-source a {
    padding-left: 5px;
}

.images-source a:link, .images-source a:visited {
    text-decoration: none;
}

.images-source a:hover, .images-source a:active {
    text-decoration: underline;
}
